@page
@model Assignment5.Pages.CartModel

@{
}

<div>
    <table class="table">
        <!--This page contains the shopping cart-->
        <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <!--This part displays the books in the shopping cart-->
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td>@line.Book.Title</td>
                    <td>@line.Quantity</td>
                    <td>$@line.Book.Price</td>
                    <td>@((line.Quantity * line.Book.Price).ToString("c"))</td>
                    <td>
                        <form id="@line.Book.BookId" asp-page-handler="Remove" method="post">
                            <input type="hidden" name="BookId" value="@line.Book.BookId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <span class="card-text p-1">
                                <button type="submit" class="btn-danger btn-sm">Remove from Cart</button>
                            </span>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <!--This part calculates the total price-->
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td>@Model.Cart.ComputeTotalSum().ToString("c")</td>
            </tr>
        </tfoot>
    </table>
</div>