<!--This file provides the html for the main page, including some of the books from the database and navigation between pages-->
@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1>Online Bookstore</h1>
</div>

<!--This div contains several books from the database-->
<div>






    <table class="table">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author First Name</th>
                <th>Author Middle Name</th>
                <th>Author Last Name</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Number of Pages</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Books)
            {
                <tr>
                    <td>@x.BookId</td>
                    <td>@x.Title</td>
                    <td>@x.AuthorFirstName</td>
                    <td>@x.AuthorMiddleName</td>
                    <td>@x.AuthorLastName</td>
                    <td>@x.Publisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Classification</td>
                    <td>@x.Category</td>
                    <td>@x.Pages</td>
                    <td>$@x.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--This div contains navigation between the different pages of books-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn rounded-circle bk-dark" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
